@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Space+Mono:wght@700&display=swap");

* {

  font-family: "Epilogue", sans-serif;

  color: $Almost-Black;

}

h1 {

  font-weight: 700;

  font-size: var(--fs-700);

}

a {

  text-decoration: none;

  font-family: "Epilogue", sans-serif;

  color: $Medium-Gray;

  font-size: var(--fs-500);

  &:hover {

    color: $Almost-Black;

  }

}

p {

  font-size: var(--fs-500);

  color: $Medium-Gray;

  margin: 1rem 0;

  line-height: 1.5;

}

.attribution,

.attribution a {

  font-family: "Epilogue", sans-serif;

  font-size: 0.8rem;

}

@media screen and (min-width: 30rem) {

  :root {

    --fs-700: 3.2rem;

    --fs-500: 1.125rem;

  }

}

@media screen and (min-width: 40rem) {

  :root {

    --fs-700: 3.6rem;

  }

}

@media screen and (min-width: 60rem) {

  :root {

    --fs-500: 1rem;

    --fs-700: 4rem;

  }

}

@media screen and (min-width: 70rem) {

  :root {

    --fs-700: 5rem;

  }

}
